<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>Swift</string>
  <key>CFBundleIdentifier</key>
  <string>com.apple.Swift</string>
  <key>CDAppleDefaultAvailability</key>
  <dict>
    <key>Swift</key>
    <array>
      <dict>
        <key>name</key>
        <string>iOS</string>
        <key>version</key>
        <string>8.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>macOS</string>
        <key>version</key>
        <string>10.10</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Mac Catalyst</string>
        <key>version</key>
        <string>13.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>tvOS</string>
        <key>version</key>
        <string>9.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>watchOS</string>
        <key>version</key>
        <string>2.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>visionOS</string>
        <key>version</key>
        <string>1.0</string>
      </dict>
    </array>
    <key>RegexBuilder</key>
    <array>
      <dict>
        <key>name</key>
        <string>iOS</string>
        <key>version</key>
        <string>16.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>macOS</string>
        <key>version</key>
        <string>13.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Mac Catalyst</string>
        <key>version</key>
        <string>16.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>tvOS</string>
        <key>version</key>
        <string>16.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>watchOS</string>
        <key>version</key>
        <string>9.0</string>
      </dict>
    </array>
    <key>Distributed</key>
    <array>
      <dict>
        <key>name</key>
        <string>iOS</string>
        <key>version</key>
        <string>16.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>macOS</string>
        <key>version</key>
        <string>13.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Mac Catalyst</string>
        <key>version</key>
        <string>16.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>tvOS</string>
        <key>version</key>
        <string>16.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>watchOS</string>
        <key>version</key>
        <string>9.0</string>
      </dict>
    </array>
    <key>Observation</key>
    <array>
      <dict>
        <key>name</key>
        <string>iOS</string>
        <key>version</key>
        <string>17.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>macOS</string>
        <key>version</key>
        <string>14.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Mac Catalyst</string>
        <key>version</key>
        <string>17.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>tvOS</string>
        <key>version</key>
        <string>17.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>watchOS</string>
        <key>version</key>
        <string>10.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>visionOS</string>
        <key>version</key>
        <string>1.0</string>
      </dict>
    </array>
    <key>Synchronization</key>
    <array>
      <dict>
        <key>name</key>
        <string>iOS</string>
        <key>version</key>
        <string>18.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>macOS</string>
        <key>version</key>
        <string>15.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Mac Catalyst</string>
        <key>version</key>
        <string>18.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>tvOS</string>
        <key>version</key>
        <string>18.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>watchOS</string>
        <key>version</key>
        <string>11.0</string>
      </dict>
      <dict>
        <key>name</key>
        <string>visionOS</string>
        <key>version</key>
        <string>2.0</string>
      </dict>
    </array>
  </dict>
  <key>CDDefaultCodeListingLanguage</key>
  <string>swift</string>
  </dict>
</plist>
