# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.

# Owners of the parser
include/swift/Parse @ahoppen @bnbarham @CodaFi @DougGregor @rintaro
lib/Parse           @ahoppen @bnbarham @CodaFi @DougGregor @rintaro
test/Parse          @ahoppen @bnbarham @CodaFi @DougGregor @rintaro

# C++ Interop
include/swift/ClangImporter @zoecarver @hyp @egorzhdan
include/swift/PrintAsClang  @zoecarver @hyp @egorzhdan
lib/ClangImporter           @zoecarver @hyp @egorzhdan
lib/PrintAsClang            @zoecarver @hyp @egorzhdan
stdlib/public/Cxx           @zoecarver @hyp @egorzhdan
test/Interop                @zoecarver @hyp @egorzhdan
