# Lines starting with '#' are comments.
# Each line is a case-sensitive file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
# More information: https://docs.github.com/en/articles/about-code-owners
#
# Please mirror the repository's file hierarchy in case-sensitive lexicographic
# order.

# Until the new branch is created on May 4th, 2026, the main branch should be
# treated as a release branch. Major changes should be avoided during this time,
# and the focus should be on converging the release. The changes to the main
# branch will require an approval from the release managers. This approach will
# allow us to branch later and minimize the overhead of cherry-picking changes
# into the release branch early on.

* @swiftlang/swift-branch-managers
