# Lines starting with '#' are comments.
# Each line is a case-sensitive file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
# More information: https://docs.github.com/en/articles/about-code-owners
#
# Please mirror the repository's file hierarchy in case-sensitive lexicographic
# order.

# Getting ready to land rebranch (stable/23.x)
# We are getting close to updating the main branch to support llvm-project
# stable/23.x branch, in order to avoid introducing unexpected failures.
# We are going to require Swift release managers to approve the changes
# going into the main branch, and once we have merged rebranch into main,
# we will open up the main branch again. Our goal is to merge rebranch 
# into main on Monday, Sept. 28th.
#
# https://forums.swift.org/t/updating-llvm-project-branch-for-swift-main-stable-23-x/88326/5

* @swiftlang/swift-branch-managers
