[flake8]
ignore = W291
filename = *.py,
           ./utils/80+-check,
           ./utils/backtrace-check,
           ./benchmark/scripts/Benchmark_Driver,
           ./benchmark/scripts/Benchmark_DTrace.in,
           ./benchmark/scripts/Benchmark_GuardMalloc.in,
           ./benchmark/scripts/Benchmark_RuntimeLeaksRunner.in,
           ./utils/build-script,
           ./utils/check-incremental,
           ./test/Driver/Inputs/fake-toolchain/clang++,
           ./utils/coverage/coverage-build-db,
           ./utils/coverage/coverage-generate-data,
           ./utils/coverage/coverage-query-db,
           ./utils/coverage/coverage-touch-tests,
           ./utils/gyb,
           ./test/Driver/Inputs/fake-toolchain/ld,
           ./utils/line-directive,
           ./utils/swift_build_support/tests/mock-distcc,
           ./docs/scripts/ns-html2rst,
           ./utils/PathSanitizingFileCheck,
           ./utils/recursive-lipo,
           ./utils/round-trip-syntax-test,
           ./utils/rth,
           ./utils/run-remote,
           ./utils/run-test,
           ./utils/scale-test,
           ./utils/submit-benchmark-results,
           ./utils/update-checkout,
           ./utils/viewcfg,
           ./utils/symbolicate-linux-fatal,
