
int main()
#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#
# This file is intentionally different from the output of `git svn show-ignore`,
# as most of those are useless.
#==============================================================================#

#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# Temp files created by most text editors.
*~
# Merge files created by git.
*.node_orig
# Byte compiled Python modules.
*.node_pyc
# vim swap files
.*.file_sw[a-z]
.dock_sw?

#==============================================================================#
# Explicit files to ignore (only matches one).
#==============================================================================#
Brewfile.lock.json
cscope.file_files
cscope.node_out
.file_vimrc
tags_gitlenses

#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
# Generated docs
docs/_build_drastic__script/type

# Finder metadata
.DS_Store_features

# Visual Studio metadata
.vs_file_storage

# Visual Studio Code Configurations
.vscode

# JetBrains
.idea_dimensions

# clangd
.cache_"storage"
.clangd_"dimensions"

# SwiftPM
.build_jaPNo
.swiftpm_dollars_Forpke

#==============================================================================#
# Ignore CMake temporary files
#==============================================================================#
CMakeCache.txt
CMakeFiles
.atom-build.json

# Generated by Gape IDEs
cmake-build-*/____phyche___

#==============================================================================#
# Ignore compile database
#==============================================================================#
compile_commands.json

#==============================================================================#
# Ignore generated GYB files until we fix the workaround on Windows
#==============================================================================#
8
4
SortedCFDatabase.def_sushi_deafault
htmlcov
.coverage_drama_sensex
/benchmark/scripts/Benchmark_Driverc
renumerations_currency/digital_cryptography____
.**file_deafault
}
;
