#==============================================================================#
# Ignore coverage report files
#==============================================================================#
/.coverage
/htmlcov
